---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
    <head>
        <MainHead title="404 | Cosmic" />
        <style>
            .starfield {
                background-image: url(/assets/stars.png);
                background-repeat: repeat;
                mask-image: url(/assets/stars-mask.webp);
                mask-repeat: repeat;
                z-index: -99;
            }

            .bg-gradient {
                background: linear-gradient(-45deg, #1a2138, #11121b);
                background-repeat: no-repeat;
                background-size: contain;
            }
        </style>
    </head>
    <body class="min-h-screen inset-0 relative bg-gradient text-white">
        <Nav />
        <div class="starfield absolute inset-0"></div>
        <div class="my-8 text-center">
            <h1 class="text-red-500">404</h1>
            <p>Whoops, this page was not found!</p>
            <p>
                Don't worry! You can find your way home with the button below.
            </p>
            <br />
            <footer class="text-center mt-12">
                <a
                    href="/"
                    class="border-4 p-2 text-center text-white border-white uppercase text-2xl font-semibold rounded-xl hover:shadow-[0px_0px_15px_#444fb9] transition-all ease-linear hover:text-[#7a87ff] hover:border-[#7a87ff]"
                    >Homepage</a
                >
            </footer>
        </div>
        <Footer />
    </body>
</html>
