---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
    <head>
        <MainHead
            title="About | Cosmic"
            description="Information about Cosmic"
        />
        <style>
            .starfield {
                background-image: url(/assets/stars.png);
                background-repeat: repeat;
                mask-image: url(/assets/stars-mask.webp);
                mask-repeat: repeat;
                z-index: -99;
            }

            .bg-gradient {
                background: linear-gradient(-45deg, #1a2138, #11121b);
                background-repeat: no-repeat;
                background-size: contain;
            }
        </style>
    </head>
    <body class="min-h-screen inset-0 relative bg-gradient text-white">
        <Nav />
        <div class="starfield absolute inset-0"></div>
        <div class="max-w-[80em] mx-auto px-8">
            <h1>About Cosmic</h1>
            <div class="overflow-hidden object-cover">
                <img
                    width="1920"
                    height="1080"
                    class="w-full"
                    src="/assets/cosmicoriginsbg.png"
                />
            </div>
            <div class="max-w-[80em] mx-auto px-8 text-2xl mt-16 leading-8">
                <p class="text-center text-3xl">
                    Hey, Welcome to my website!
                </p><br />
                <p>
                    I'm Cosmic, a 17 year old student studying Computer Science
                    and ICT at school.
                </p>
                <br />
                <p>
                    I am from Wales and I enjoy making things, what things you
                    might be asking? well, lots of things such as Discord Bots,
                    Minecraft Mods/Plugins, Websites and more!
                </p>
                <br />
                <p>
                    This website was created using ASTRO, I've previously worked
                    with React.js, Next.js, And Vanilla JS. I plan to learn more
                    JavaScript frameworks and I'm currently learning ASTRO.
                </p>
                <br />
            </div>
        </div>
        <Footer />
    </body>
</html>
