---
import Layout from '../layouts/Layout.astro';
---

<Layout title="cosrnic.dev/404">
	<main
		class="absolute flex h-full w-full flex-col items-center justify-center overflow-hidden p-2 text-center text-secondary md:p-4"
	>
		<p class="text-4xl font-bold text-primary">Coming Soon</p>
	</main>
</Layout>
