---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="cosrnic.dev">
	<main class="absolute mt-32 p-2 md:p-4">
		<div class="flex flex-col flex-wrap gap-2 md:flex-row md:gap-4">
			<Card title="Who am I?">
				<p class="mb-2 text-xl md:mb-4 md:text-2xl">
					I'm <span class="text-primary">Cosmic</span>,
				</p>
				<p>
					an <span class="text-primary">19</span> year old <span
						class="text-primary">Web Developer</span
					> who has recently completed their <span class="text-primary"
						>A Levels</span
					> in <span class="text-primary">Computer Science</span> and <span
						class="text-primary">ICT</span
					>. <br />
					 I am currently <span class="text-primary">looking for work</span>
					 within these fields to improve my knowledge and experience.
				</p>
			</Card>
			<Card title="What do I do?">
				<p>
					I create and design <span class="text-primary">Websites</span>. <br />
					 I also make <span class="text-primary">Minecraft Servers</span>, <span
						class="text-primary">Mods/Plugins</span
					> and sometimes <span class="text-primary">Discord Bots</span> in my
					free time!
				</p>
			</Card>
			<Card title="My Discord">
				<p class="text-xl text-primary md:text-2xl">Cosmic</p>
				<p class="text-lg md:text-xl">@cosrnic</p>
			</Card>
		</div>
	</main>
</Layout>
