---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="p-2 w-full h-auto rounded-xl bg-dark-200 text-secondary ring-dark-100/70 ring-inset ring-2 md:p-4 lg:w-[32.5%] lg:h-[350px]"
>
  <h2 class="text-2xl font-bold text-center md:text-3xl">
    {title}
  </h2>
  <div class="my-2 bg-dark-100 h-0.5 w-full rounded-xl md:my-4"></div>
  <div class="text-center text-lg font-medium md:text-xl">
    <slot />
  </div>
</div>
