---
const currentYear = new Date().getFullYear();
---

<footer class="text-center pr-8 py-8 bottom-0">
    <div class="text-white">
        &copy; {currentYear}
        <span class="text-[#7a87ff]">Cosmic</span>
    </div>
    <small class="block mt-4 text-white/70 text-sm uppercase"
        >🚀 Built with <a
            class="text-[#7a87ff]/70 font-semibold"
            href="https://astro.build/">Astro</a
        >
    </small>
</footer>
