---
import { Sprite } from "astro-icon";

import axios from "axios";
const req = await axios.get(
    "https://api.lanyard.rest/v1/users/508662064063971348"
);
const avatarURLTest = `https://cdn.discordapp.com/avatars/508662064063971348/${req.data.data.discord_user.avatar}.png?size=4096`; // TODO: make it update each time
let avatarURL;

try {
    await axios.get(avatarURLTest);

    avatarURL = avatarURLTest;
} catch (error) {
    avatarURL = "/favicon.png";
}
---

<nav class="z-100 flex gap-[1rem] items-center p-[1rem]">
    <a
        class="block no-underline text-[20px] font-sans text-white hover:text-[#7a87ff] transition-all ease-linear"
        href="/"
        aria-label="Home"
    >
        <img
            src={avatarURL}
            class="rounded-full w-16 hover:shadow-[0px_0px_25px_#444fb9] transition-all ease-linear border-4 p-[0.2rem] border-[#7a87ff]"
            alt="logo"
        />
    </a>
    <a
        class="block no-underline text-[20px] font-sans text-white hover:text-[#7a87ff] transition-all ease-linear"
        href="/projects/"
        aria-label="Projects">Projects</a
    >
    <a
        class="block no-underline text-[20px] font-sans text-white hover:text-[#7a87ff] transition-all ease-linear"
        href="/about/"
        aria-label="About"
    >
        About</a
    >
    <div class="flex gap-[0.75em] ml-auto">
        <Sprite.Provider>
            <a
                class="block"
                href="https://twitter.com/cosrnic_"
                target="_blank"
                aria-label="Twitter"
            >
                <Sprite
                    class="text-white block w-7 h-7 transition-all ease-linear hover:text-[#7a87ff]"
                    name="akar-icons:twitter-fill"
                />
            </a>
            <a
                class="block"
                href="https://github.com/cosrnic"
                target="_blank"
                aria-label="Github"
            >
                <Sprite
                    class="text-white block w-7 h-7 transition-all ease-linear hover:text-[#7a87ff]"
                    name="akar-icons:github-fill"
                />
            </a>
            <a
                class="block"
                href="https://card.cosrnic.uk"
                target="_blank"
                aria-label="Discord"
            >
                <Sprite
                    class="text-white block w-7 h-7 transition-all ease-linear hover:text-[#7a87ff]"
                    name="akar-icons:discord-fill"
                />
            </a>
        </Sprite.Provider>
    </div>
</nav>
